div {
  width: 300px;
  min-height: 120px;
  padding: 16px;
  color: sienna;
}

h2 {
  padding-left: 48px;
  background-image: url("images/icon256.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

p {
  font-size: 18px;
  font-style: italic;
}

button {
  all: unset;
  width: 128px;
  height: 48px;
  margin-top: 16px;
  margin-left: 86px;
  border: 1px solid transparent;
  background-color: bisque;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

button:active {
  border-color: sienna;
}
